body {
    background: url(https://images.pexels.com/photos/533769/pexels-photo-533769.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: black;
    opacity: 1;
}

#river-container {
    margin-top: 50px;
}

#bear-form-container {
    margin-top: 50px;
    opacity: 1;
}

#bear-jumbo {
    border-radius: 10px;
    border: 1px solid black;
}

.card-divider {
    margin: 20px 0;
}

button {
    margin: 10px;
}
