

body {
    background-color: rgb(173, 146, 121);
}

h1 {
    color: white;
}

#bear-form-container {
    background-color: lightskyblue;
}

.bear-form {
    background-color: beige;
    border-radius: 20px;
}